/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

.black-bg {
    background-color: #363636;
}

.black-bg {
    background-color: #000000;
}

.t-black  {
    color: white;
}


