<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/ferro1%202.png?alt=media&token=65727664-5c26-4b49-a24e-2e9e9f771226"
          class="img-fluid" alt="ferro logo">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 gray-bg p-5">
        <form #form="ngForm">

          <div class="divider d-flex align-items-center my-4">
            <h2 class="text-center fw-bold mx-3 mb-0 t-white">INICIAR SESIÓN</h2>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <h5 class="text-center mb-3 t-white">Introduzca su correo y contraseña</h5>
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="email" [(ngModel)]= "user.email" [ngModelOptions]="{standalone: true}" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="password" [(ngModel)]= "user.password" [ngModelOptions]="{standalone: true}"/>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label t-white" for="form2Example3">
                Recordarme
              </label>
            </div>
              <a href="#!" class="text-body link-secondary">¿Olvido su Contraseña?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2 d-grid">
            <button type="button" class="btn btn-primary btn-lg black-bg" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="Login()">Login</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
