<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom mx-5">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4"></span>
      <h2>FERRÓ</h2>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link link-dark" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark">Tienda</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark">Sobre Nosotros</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark">Contacto</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark"><i class="fa-solid fa-magnifying-glass"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark"><i class="fa-solid fa-heart"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark"><i class="fa-solid fa-cart-arrow-down"></i></a></li>
    </ul>
  </header>
