.Wrapper{
    /* max-width: 600px; 
    width: 100%; */
    //background: #f0f5ff;
    margin: 60px;  
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px,
    rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px; 
  }