<app-navbar></app-navbar>

<!-- Hero Section Starts -->

<div class="container col-xxl-8  mt-3">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-sm-12 col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/hero.jpg?alt=media&token=be329754-9228-4a33-807e-66314475f65f"
                class="d-block mx-lg-auto img-fluid" alt="camisa rosada manga larga" width="100%" height="700"
                loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3"><b>NUEVA </b>COLECCIÓN</h1>
            <p class="lead">TU VIDA, TU ESTILO</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Ver Mas</button>
                <button type="button" class="btn btn-outline-dark btn-lg px-4">Comprar novedades</button>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section Ends -->


<!-- Oferts Section Starts -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="img-area">
                <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/offert-1.png?alt=media&token=85aebd19-cf81-41b0-b958-4495fb4ff815"
                    alt="camisa manga larga rosada">
                <div class="img-text">
                    <h5>Vestir</h5>
                    <h3>Get 10% Off</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="img-area">
                <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/offert-2.png?alt=media&token=6d16fe69-2daf-4409-8f3a-a76d10711a12"
                    alt="camisa blanca de vestir">
                <div class="img-text">
                    <h5>Vestir</h5>
                    <h3>Sale 10% Off</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="img-area">
                <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/offert-3.png?alt=media&token=d7d61c54-dee6-4214-b8e8-9713bcbc6176"
                    alt="camisa de vestir rosada y celeste">
                <div class="img-text">
                    <h5>Vestir</h5>
                    <h3>Get 15% Off</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Oferts Section Ends -->


<!-- New Collection Section Starts -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-sm-12 col-lg-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/new-collection.png?alt=media&token=d356830e-1773-424d-82e3-d05ac1bb7db2"
                class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">CONOCE NUESTROS ESTILOS Y MODAS</h1>
            <p class="lead">
                Esta nueva coleccion representa la elegancia con
                que queremos vestir al hombre nicaraguense
                la calidad de los productos hacen que la camisa no
                sea tan calurosa para los climas de managua
                y la confectura le da un efecto visual over size.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Comprar</button>
                <button type="button" class="btn btn-outline-dark btn-lg px-4">Ver Más</button>
            </div>
        </div>
    </div>
</div>
<!-- New Collection Section Ends -->


<!-- Album Section Starts -->
<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">ÁLBUM</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 mb-4">
            <div class="img-area">
                <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/album1.png?alt=media&token=cf409a03-9f4f-4ba8-91e1-fb400ad859d3"
                    alt="camisa manga larga rosada">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 mb-4">
            <div class="img-area">
                <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/album2.png?alt=media&token=857062c3-abde-46b7-b0df-44dfd2327d2d"
                    alt="camisa manga larga rosada">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 mb-4">
            <div class="img-area">
                <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/album3.png?alt=media&token=1d4a6ece-d452-4f86-8dfb-b7c19c1bd485"
                    alt="camisa manga larga rosada">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 mb-4">
            <div class="img-area">
                <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/album4.png?alt=media&token=cf5220d9-9310-4570-8c2b-ccb7b6c183f8"
                    alt="camisa manga larga rosada">
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/album5.png?alt=media&token=32eef36c-2944-4e22-abe7-1a600447c2bb"
                alt="">
        </div>
    </div> -->
</div>
<!-- Album Section Ends -->


<!-- Products Section Starts -->

<div class="elfsight-app-c557b684-bf88-427c-b902-b403f6d8ccd6"></div>

<div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-bs-ride="carousel">

    <div id="review" class="text-center my-5">
        <h1 class="display-5 fw-bold lh-1 mb-3">PRODUCTOS EN LIQUIDACIÓN</h1>
    </div>

    <div class="carousel-inner pb-5" style="padding-left: 150px; padding-right: 150px;">

          <div class="carousel-item active">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col"  *ngFor="let item of items | async">
                      <div class="card" >
                        <img [src]="item.imageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{item.productName}} talla: {{item.size}} {{item.price}} </h5>
                            <p class="card-text">{{item.description}}</p>
                                <button class="btn btn-outline-dark">Comprar</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col">
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/liq2.png?alt=media&token=af60ec74-d007-4df6-973c-d8a56854c037" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Camisa de Verano C$250</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                                <button class="btn btn-outline-dark">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/liq3.png?alt=media&token=8a5187a8-6511-4806-99a8-ef53741da531" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Camiseta de Algodón C$300</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                                <button class="btn btn-outline-dark">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/liq4.png?alt=media&token=b191d9a1-9b8b-4bca-a34a-ec0be41a13e4" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                                <button class="btn btn-outline-dark">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/liq1.png?alt=media&token=6d62b17d-6400-44aa-be5a-e2e6f629a8f1" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sueter C$300</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                                <button class="btn btn-outline-dark">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/ferro-44a.appspot.com/o/liq2.png?alt=media&token=af60ec74-d007-4df6-973c-d8a56854c037" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Camisa de Verano C$250</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                                <button class="btn btn-outline-dark">Comprar</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Products Section Ends -->


<app-footer></app-footer>
